/!cormen_3rd_ed.pdf
.vscode
notes/.vscode
offline_psets/.vscode
colloquiums/kolosy_asd_2022/kol1_b_sort/__pycache__
colloquiums/kolosy_asd_2022/kol3_b_graph/__pycache__
colloquiums/kolosy_asd_2022/u_kol_graph/__pycache__
colloquiums/kolosy_asd_2023/kol1/__pycache__
colloquiums/kolosy_asd_2023/kol2/__pycache__
exam/egz1/A-zlycerz/__pycache__
exam/egz1/B-planety/__pycache__